---
title: File Integrity Monitoring for VMware Tanzu
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This documentation describes setting up and using <%= vars.product_full %> (<%= vars.product_abbr %>).


## <a id='overview'></a>Overview

<!--FIM provides logs of file and directory modifications in monitored paths.
Operators and auditors use these logs to satisfy security requirements for file integrity monitoring
for Ops Manager-managed BOSH VMs.

You can use <%= vars.product_abbr %> to help achieve compliance standards such as the Payment Card
Industry Data Security Standard (PCI DSS) or the Health Insurance Portability and Accountability Act
(HIPAA).-->

## <a id='features'></a>Key Features

<%= vars.product_short %> enables you to:

* Monitor <%= vars.ops_manager %>-managed BOSH VMs and containers
* Specify path patterns to exclude
* Group path patterns under low severity
* Format log output
* Provide digest calculations of files


## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about <%= vars.product_abbr %>.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v2.2.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>MMM DD, YYYY</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.ops_manager %> versions</td>
        <td>3.0, 2.10, 2.9, 2.8, and 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.app_runtime_first %> versions</td>
        <td>3.0, 2.13, 2.12, 2.11, 2.10, 2.9, 2.8, and 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>) versions</td>
        <td>3.0, 2.13, 2.12, 2.11, 2.10, 2.9, 2.8, and 2.7</td>
    </tr>
    <tr>
        <td>Compatible BOSH stemcells</td>
        <td>Ubuntu Xenial, Jammy, and Windows 2016, 1803, 2019</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere, GCP, AWS, Azure, and OpenStack</td>
    </tr>
</table>


## <a id="limitations"></a>Limitations

<%= vars.product_short %> has the following limitations:

* If you are upgrading from <%= vars.product_abbr %> v1.4, you must manually uninstall the runtime configs.

## <a id="architecture"></a> <%= vars.product_short %> Architecture


### <a id="bcaf"></a>BOSH Context Adaptor for <%= vars.product_short %> (BCAF)

The BOSH Context Adaptor for <%= vars.product_short %> (BCAF) is a feature that reduces the number of
logs that an operator needs to review.
It notifies the Event Logger about BOSH events and lowers the severity of those events.
This allows operators to focus on high severity events.

BCAF does this by observing BOSH Agent log entries, which are located at `/var/vcap/bosh/log/current`.
When the BOSH Agent receives an event from the BOSH Director, the Agent begins to generate logs
corresponding to the events.
BCAF analyzes the start and end of the events, and lowers the severity of any BOSH-related paths in
the Event Logger.
These events are then output into `/var/vcap/sys/log/fim/fim.stdout.log`.

This diagram illustrates how the BOSH Context Adaptor analyzes BOSH events:

<%# https://docs.google.com/presentation/d/18BpGdRZVkZmdiWhkU-0mc0z0t_p02NT6B0X4kv6Ii_c/edit#slide=id.g84f09073e3_0_58 %>

![Diagram depicting the BOSH Director starting an event and sending it to the BOSH Agent.
The BOSH Agent sends the mkdir and touch events to fsnotify and begins to log the events in the
BOSH Agent log.](./images/arch-bcaf.png)
<a href="./images/arch-bcaf.png" target="_blank">View a larger version of this image</a>

In the example shown in the diagram above, the BOSH Director starts an event and sends it to the BOSH
Agent. The BOSH Agent sends the `mkdir` and `touch` events to `fsnotify` and begins to log the events
in the BOSH Agent log.

For example:

<pre class="terminal">
TimeStamp 1: BOSH event started<br>
...<br>
TimeStamp N: BOSH event finished
</pre>

The Context Adaptor analyzes the events taking place in the BOSH Agent log.
It observes that the directory `/var/vcap/foo` and file `bar.txt` are related during the `mkdir`
event.
It then notifies the Event Logger that these are BOSH events and changes the severity level to `3`.

The log output from the Event Logger reflects this change:

<pre class="terminal">
...<br>
/var/vcap/foo is created [it is related to a normal BOSH event && severity is LOW]<br>
...<br>
bar.txt is created [it is related to a normal BOSH event && severity is LOW]<br>
...
</pre>

For an example log entry, see
[Example of Log Message Identified by BCAF](./log-examples.html#container-examples).

<p class="note">
  <strong>Note:</strong> A user or <%= vars.ops_manager %> can start BOSH events.
  For example, if a user initiates a BOSH deploy, this can create files and make directories.
  <br><br>
  Also, BCAF detects the initial action of doing an SSH through BOSH, but does
  not detect any commands run afterwards within the SSH session.
  If a user performs an SSH onto a VM and creates files or directories, that is not a
  "BOSH triggered event" and BCAF does not detect it.
</p>
