---
title: Pivotal File Integrity Monitoring
owner: Pivotal Compliance and Innovation (PCI) Team
---

<strong><%= modified_date %></strong>

<p class="note"><strong>Note:</strong> Pivotal has renamed <i>File Integrity Monitoring Add-on for PCF</i> to <i>Pivotal File Integrity Monitoring<%# Use <%= vars.product_full %></i>.
</p>

<%= partial '../../fim/partials/pcf-name-change' %>

This documentation describes setting up and using <%= vars.product_full %> (<%= vars.product_abbr %>).

## <a id='overview'></a>Overview

<%= vars.product_full %> provides logs of file and directory modifications in monitored paths. 
Operators and auditors use these logs to satisfy security requirements for file integrity monitoring 
within the <%= vars.platform_name %> environment.

You can use <%= vars.product_abbr %> to help achieve compliance
standards such as Payment Card Industry Data Security Standard (PCI DSS) or Health
Insurance Portability and Accountability Act (HIPAA).

## <a id='features'></a>Key Features
<%= vars.product_short %> includes the following key features:

* Monitor <%= vars.platform_name %> VMs and containers
* Specify path patterns to exclude
* Group path patterns under low severity
* Format log output
* Provide digest calculations of files

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about <%= vars.product_abbr %>.

<p class="note warning"><strong>Warning: </strong>
  <%= vars.product_abbr %> Add-on on Windows is in beta.
</p>

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.4.8</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 11, 2019</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.ops_manager_full %> versions</td>
        <td>2.5, 2.6, 2.7, and 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) versions</td>
        <td>2.5, 2.6, 2.7, and 2.8</td>
    </tr>
     <tr>
        <td>(Beta) Compatible <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>) versions</td>
        <td>2.3, 2.4, 2.5, 2.6, and 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) versions</td>
        <td>1.2 and later</td>
    </tr>
    <tr>
        <td>Compatible BOSH stemcells</td>
        <td>Ubuntu (Xenial and Trusty) and Windows (2012 R2, 2016, 10v1803, and 2019)</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere, GCP, AWS, Azure, and OpenStack</td>
    </tr>
</table>

## <a id="limitations"></a>Limitations

<%= vars.product_short %> has the following limitations:

* Windows support is in Beta
