---
title: Pivotal File Integrity Monitoring
owner: Security Engineering
---

<strong><%= modified_date %></strong>

<p class="note"><strong>Note:</strong> Pivotal has renamed <i>File Integrity Monitoring Add-on for PCF</i> to <i>Pivotal File Integrity Monitoring</i>.
</p>

<%= partial '../../fim/partials/pcf-name-change' %>

<%= vars.product_full %> (<%= vars.product_abbr %>) might be necessary for
regulatory purposes if your compliance auditor requires <%= vars.product_abbr %>
protection within the <%= vars.platform_name %> environment.

For example, auditors sometimes expect that <%= vars.product_abbr %> protection be present in an environment that must comply with standards
such as Payment Card Industry Data Security Standard (PCI DSS) or Health Insurance Portability and Accountability Act
(HIPAA).

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about <%= vars.product_abbr %>.

<p class="note warning"><strong>Warning: </strong>FIM Add-on on Windows is in Beta.
</p>

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.4.8</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 11, 2019</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.ops_manager_full %> versions</td>
        <td>2.3, 2.4, 2.5, 2.6, and 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) versions</td>
        <td>2.3, 2.4, 2.5, 2.6, and 2.7</td>
    </tr>
     <tr>
        <td>(Beta) Compatible <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>) versions</td>
        <td>2.3, 2.4, 2.5, 2.6, and 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) versions</td>
        <td>1.2 and later</td>
    </tr>
    <tr>
        <td>Compatible BOSH stemcells</td>
        <td>Ubuntu (Xenial and Trusty) and Windows (2012 R2, 2016, 10v1803, 2019)</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere, GCP, AWS, Azure, and OpenStack</td>
    </tr>
</table>
