---
title: File Integrity Monitoring Add-on for PCF
owner: Security Engineering
---

<strong><%= modified_date %></strong>

The File Integrity Monitoring Add-on for PCF (FIM Add-on) might be necessary for regulatory purposes if your compliance auditor
requires File Integrity Monitoring (FIM) protection within the PCF environment.

For example, auditors sometimes expect that FIM protection be present in an environment that must comply with standards
such as Payment Card Industry Data Security Standard (PCI DSS) or Health Insurance Portability and Accountability Act
(HIPAA).

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about the FIM Add-on.

<p class="note warning"><strong>Warning: </strong>FIM Add-on on Windows is in BETA.
</p>

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.4.5</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>Month DD, 2019</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions</td>
        <td>2.3, 2.4, 2.5, 2.6, and 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) versions</td>
        <td>2.3, 2.4, 2.5, 2.6, and 2.7</td>
    </tr>
     <tr>
        <td>[BETA] Compatible <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>) versions</td>
        <td>2.3, 2.4, 2.5, 2.6, and 2.7</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) versions</td>
        <td>1.2 and later</td>
    </tr>
    <tr>
        <td>Compatible BOSH stemcells</td>
        <td>Ubuntu (Xenial and Trusty) and Windows (2012 R2, 2016, 10v1803, 2019)</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere, GCP, AWS, Azure, and OpenStack</td>
    </tr>
</table>
