---
title: Installing File Integrity Monitoring
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic describes how to install <%= vars.product_full %>
(<%= vars.product_abbr %>).

##<a id="prereqs"></a>Prerequisites

<p class="note warning"><strong>Warning: </strong>
  FIM Add-on on Windows is in Beta.
</p>

* You must be a <%= vars.platform_name %> operator with admin rights.
See [Operators](https://docs.pivotal.io/pivotalcf/customizing/user-types.html#operator)
in the <%= vars.platform_name %> documentation.

* **<%= vars.ops_manager_full %> (<%= vars.ops_manager %>)**.
For compatible versions, see the [Product Snapshot](./index.html#snapshot).

## <a id='install-addon'></a> Install <%= vars.product_abbr %>

To install the <%= vars.product_abbr %> file on the Ops Manager Installation Dashboard:

<p class="note"><strong>Note: </strong>If you are upgrading from version 1.4 or below,
  you must follow the instructions in <a href="./upgrading.html">Upgrading <%= vars.product_abbr %></a>.
</p>

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/p-fim-addon).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of <%= vars.product_abbr %>.
This adds the tile to your staging area.

1. Click the newly added **<%= vars.product_abbr %>** tile.

## <a id='configure-ubuntu'></a> Configure <%= vars.product_abbr %> for Ubuntu
To configure <%= vars.product_abbr %> for Ubuntu VMs:

1. Select **FIM Configuration for Ubuntu**.
<%# screenshot needed %>

1. Configure the following fields:

    <table class="nice">
      <th>Field</th>
      <th>Description</th>
      <tr>
        <td><strong>Watchlist</strong></td>
        <td>
          Enter a list of file paths to monitor for file system events.<br><br>
          For more information about the <strong>Watchlist</strong> field,
          see <a href="./configuration.html#dirs">List Directories to be Monitored</a>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.dirs</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Ignore patterns</strong></td>
        <td>
          Using path regular expressions, enter a list of files that you want
          <%= vars.product_abbr %> to ignore.
          Events for files matching any of the provided regular expressions are
          not included in the logs.<br><br>
          For more information about the <strong>Ignore patterns</strong> field,
          see <a href="./configuration.html#output-ignore">Ignore Events</a>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.ignored_patterns</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Low severity tagging for frequently changed files</strong></td>
        <td>
          Using path regular expressions, enter a list of files to be marked as low severity.
          Events for files matching any of the provided regular expressions
          are logged with severity <code>3</code>, instead of the default value of <code>5</code>.
          This can be useful to filter out business-as-usual events.<br><br> <%# is there a better way to say BAU %>
          For more information about the <strong>Low severity tagging for
          frequently changed files</strong> field, see
          <a href="./configuration.html#output-low">Low Severity Events</a>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.low_severity_patterns</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Output log format</strong></td>
        <td>
          Enter a template for log lines.
          This template must be compatible with the golang package <code>text/template</code>.<br><br>
          For more information about the <strong>Output log format</strong> field,
          see <a href="./configuration.html#format">Configure the Output Format</a>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.format</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Heartbeat interval (in seconds)</strong></td>
        <td>
          Set the heartbeat interval as follows:
          <ul>
            <li>
              To enable the heartbeat interval, set the value to an integer greater than <code>0</code> .
              If you set a negative value, an error occurs.
            </li>
            <li>To disable the heartbeat interval, set the value to <code>0</code>.</li>
          </ul>
          The default value is <code>600</code>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.heartbeat_interval</code> in <%= vars.product_abbr %> v1.4 and earlier.
        </td>
      </tr>
      <tr>
        <td><strong>Max memory usage (in bytes)</strong></td>
        <td>
          Set a limit in bytes for the maximum amount of RAM, including file cache,
          that <%= vars.product_abbr %> can use per VM.
          The default value is <code>536870912</code> (512 MB).
          <p class="note"><strong>Note</strong>:
            This field corresponds with <code>fim.memory_limit</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>CPU limit (percentage)</strong></td>
        <td>
          Set the percentage of CPU that the <%= vars.product_abbr %> process can use.
          Integers from <code>1</code> to <code>100</code> are valid.
          The limit is set per core.
          Setting this field to <code>100</code> permits the use of one full core.
          The default value is <code>10</code>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.cpu_limit</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Enforce CPU limit</strong></td>
        <td>Select the enforcement policy for the <strong>CPU limit</strong>:
          <ul>
            <li><strong>Always</strong>: Ensures the <strong>CPU limit</strong> is always enforced</li>
            <li><strong>When other processes are using CPU resources</strong>: Permits the CPU usage to
              exceed the limit set by <strong>CPU limit</strong> if idle CPU cycles are available</li>
          </ul>

          The default setting is <strong>When other processes are using CPU resources</strong>.

          <p class="note warning"><strong>Warning: </strong>
            If <strong>Enforce CPU limit</strong> is set <strong>Always</strong>,
            verify that the <strong>CPU limit</strong> is set high enough for <%= vars.product_abbr %> to
            execute correctly.
            If the limit is too strict, <%= vars.product_abbr %> fails to start.
          </p>
          <div class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.enforce_cpu_limit</code> in <%= vars.product_abbr %> v1.4 and earlier.
            <ul>
              <li><strong>Always</strong> is equivalent to <code>fim.enforce_cpu_limit == true</code></li>
              <li><strong>When other processes are using CPU resources</strong> is equivalent to <code>fim.enforce_cpu_limit == false</code></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td><strong>Log file digest for write/create events</strong></td>
        <td>
          Choose whether to enable computing digests for write/create events using
          the <strong>Enable</strong> or <strong>Disable</strong> radio buttons.
          If you enable digests you can set a value for the maximum file size for
          <%= vars.product_abbr %> to hash in the
          <strong>A threshold of file size beyond which digests are not calculated (in bytes)</strong>
          field.<br><br>
          For more information, see
          <a href="./configuration.html#digests">Calculate File Hashes</a>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.digests</code> in
            <%= vars.product_abbr %> v1.4 and earlier.
            Setting <strong>Log file digest for write/create events</strong> to <strong>Enable</strong>
            is equivalent to <code>fim.digests == [sha256]</code>.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>A threshold of file size beyond which digests are not calculated (in bytes)</strong></td>
        <td>
          If you have enabled computing digests for write/create events,
          enter a positive value for the threshold for the maximum size of files to
          be hashed in this field.
          The default value is <code>10000000</code>.<br><br>
          For more information file hashes in <%= vars.product_abbr %>, see <a href="./configuration.html#digests">Calculate File Hashes</a>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.digest_threshold</code> in
            <%= vars.product_abbr %> v1.4 and earlier.<br>
            Setting <strong>Log file digest for write/create events</strong> to <strong>Enable</strong>
            is equivalent to <code>fim.digests == [sha256]</code>.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>List of instance group names that will be excluded from deployment</strong></td>
        <td>
          Enter a comma-separated list of the instance groups that you do not
          want <%= vars.product_abbr %> deployed on.
        </td>
      </tr>
    </table>

## <a id='configure-windows'></a> Configure <%= vars.product_abbr %> for Windows (Beta)

<p class="note warning"><strong>Warning: </strong>
  <%= vars.product_abbr %> for Windows is still in Beta.
  To disable installing <%= vars.product_abbr %> on Windows VMs, <a href="#disable-windows">Disable Windows</a>.
</p>

To configure <%= vars.product_abbr %> for Windows VMs:

1. Select **FIM Configuration for Windows (Beta)**.

1. Configure the following fields:

    <table class="nice">
      <th>Field</th>
      <th>Description</th>
      <tr>
        <td><strong>Watchlist</strong></td>
        <td>
          Enter a list of file paths to monitor for file system events.<br><br>
          For more information about the <strong>Watchlist</strong> field,
          see <a href="./configuration.html#dirs">List Directories to be Monitored</a>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.dirs</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Ignore patterns</strong></td>
        <td>
          Using path regular expressions, enter a list of files that you want
          <%= vars.product_abbr %> to ignore.
          Events for files matching any of the provided regular expressions are
          not included in the logs.<br><br>
          For more information about the <strong>Ignore patterns</strong> field,
          see <a href="./configuration.html#output-ignore">Ignore Events</a>.
          <p class="note"><strong>Note</strong>:
            When defining <strong>Ignore patterns</strong> for Windows, you must replace all
            single back slashes with double back slashes.
          </p>
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.ignored_patterns</code> in
            <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Low severity tagging for frequently changed files</strong></td>
        <td>
          Using path regular expressions, enter a list of files to be marked as low severity.
          Events for files matching any of the provided regular expressions
          are logged with severity <code>3</code>, instead of the default value of <code>5</code>.
          This can be useful to filter out business-as-usual events.<br><br> <%# is there a better way to say BAU %>
          For more information about the <strong>Low severity tagging for
          frequently changed files</strong> field, see
          <a href="./configuration.html#output-low">Low Severity Events</a>.
          <p class="note"><strong>Note</strong>:
            When defining <strong>Low severity tagging for frequently changed files</strong>
            for Windows, you must replace all single back slashes with double back slashes.
          </p>
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.low_severity_patterns</code> in
            <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Output log format</strong></td>
        <td>
          Enter a template for log lines.
          This template must be compatible with the golang package <code>text/template</code>.<br><br>
          For more information about the <strong>Output log format</strong> field,
          see <a href="./configuration.html#format">Configure the Output Format</a>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.format</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Heartbeat interval (in seconds)</strong></td>
        <td>
          Set the heartbeat interval as follows:
          <ul>
            <li>
              To enable the heartbeat interval, set the value to an integer greater than <code>0</code> .
              If you set a negative value, an error occurs.
            </li>
            <li>To disable the heartbeat interval, set the value to <code>0</code>.</li>
          </ul>
          The default value is <code>600</code>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.heartbeat_interval</code> in <%= vars.product_abbr %> v1.4 and earlier.
        </td>
      </tr>
      <tr>
        <td><strong>Log file digest for write/create events</strong></td>
        <td>
          Choose whether to enable computing digests for write/create events using
          the <strong>Enable</strong> or <strong>Disable</strong> radio buttons.
          If you enable digests you can set a value for the maximum file size for
          <%= vars.product_abbr %> to hash in the
          <strong>A threshold of file size beyond which digests are not calculated (in bytes)</strong>
          field.<br><br>
          For more information, see
          <a href="./configuration.html#digests">Calculate File Hashes</a>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.digests</code> in
            <%= vars.product_abbr %> v1.4 and earlier.
            Setting <strong>Log file digest for write/create events</strong> to <strong>Enable</strong>
            is equivalent to <code>fim.digests == [sha256]</code>.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>A threshold of file size beyond which digests are not calculated (in bytes)</strong></td>
        <td>
          If you have enabled computing digests for write/create events,
          enter a positive value for the threshold for the maximum size of files to
          be hashed in this field.
          The default value is <code>10000000</code>.<br><br>
          For more information file hashes in <%= vars.product_abbr %>, see <a href="./configuration.html#digests">Calculate File Hashes</a>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.digest_threshold</code> in
            <%= vars.product_abbr %> v1.4 and earlier.<br>
            Setting <strong>Log file digest for write/create events</strong> to <strong>Enable</strong>
            is equivalent to <code>fim.digests == [sha256]</code>.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>List of instance group names that will be excluded from deployment</strong></td>
        <td>
          Enter a comma-separated list of the instance groups that you do not
          want <%= vars.product_abbr %> deployed on.
        </td>
      </tr>
    </table>

###<a id="disable-windows"></a> Disable Windows

To disable installing <%= vars.product_abbr %> on Windows VMs:

1. Add instance group **windows_diego_cell** to the field **List of instance group names that will be excluded from deployment**

##<a id="deploy"></a> Deploy <%= vars.product_abbr %>

1. Navigate to the **Installation Dashboard** in <%= vars.ops_manager %>.

1. Click **Review Pending Changes**.

1. Click **Apply Changes**.

##<a id="alerts"></a> Configure Forwarding for <%= vars.product_abbr %> Alerts

The <%= vars.product_abbr %> writes all alerts to the BOSH logs (`/var/vcap/sys/log/fim/fim.stdout.log`, `C:\var\vcap\sys\log\fim-windows\filesnitch\job-service-wrapper.out.log`) of the VMs in your deployment.
You can use syslog forwarding to forward the alerts to a syslog aggregator.

* **Using the <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) tile**:
Follow the steps to configure system logging in <%= vars.app_runtime_abbr %> in [Configuring Logging in <%= vars.app_runtime_abbr %>](https://docs.pivotal.io/pivotalcf/2-4/opsguide/logging-config-opsman.html).
The syslog aggregator that you specify receives all alerts generated on <%= vars.app_runtime_abbr %> VMs, including the <%= vars.product_abbr %> alerts.
* **Using the syslog BOSH release**: You can use the syslog BOSH release to forward system logs.
See [syslog-release](https://github.com/cloudfoundry/syslog-release) in GitHub for instructions.

<p class="note"><strong>Note</strong>: When you configure syslog forwarding, ensure there is enough disk space for the logs.
Ensure that the log rotation is frequent enough. If in doubt, rotate the logs hourly or when they reach a certain size.
Pivotal recommends forwarding logs to a remote syslog aggregation system.
</p>

## <a id="verify"></a>Verify the Installation

1. Verify that `fim` is logging. To do this, use `bosh ssh` to log in to one of
the VMs in your deployment with SSH. For more information, see
[BOSH SSH](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#bosh-ssh).

  1. For Linux:

      1. Enter this command:

            ```
            touch /bin/hackertool
            ```

      1. Enter this command:

            ```
            grep hackertool /var/vcap/sys/log/fim/fim.stdout.log
            ```

      1. Verify in the logs that a new file has been created. For example:
      <pre class="terminal">CEF:0|cloud_foundry|fim|1.0.0|1|file integrity monitoring event|5| fname="/bin/hackertool" hostname="fim_1/3ad6ff1f-37e0-4b8a-80bd-d16b7f79c149" opname="CREATE" optype=1 ts=1574098829 severity=5</pre>

  1. For Windows (Beta):

      1. Enter this command:

            ```
            powershell New-Item -type File /var/vcap/data/jobs/sample_file
            ```

      1. Enter this command:

            ```
            powershell "Get-Content C:\var\vcap\sys\log\fim-windows\filesnitch\job-service-wrapper.out.log | Select-String sample_file"
            ```

      1. Verify in the logs that a new file has been created. For example:
      <pre class="terminal">CEF:0|cloud_foundry|fim|1.0.0|1|file integrity monitoring event|5| fname="C:\\var\\vcap\\data\\jobs\\sample_file" hostname="no-job_1/ebee34c1-3300-4f5d-9557-bbef845d608c" opname="CREATE" optype=1 ts=1569953512 severity=5</pre>
