---
title: Installing and Configuring File Integrity Monitoring
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic describes how to install <%= vars.product_full %>
(<%= vars.product_abbr %>).

<p class="note"><strong>Note:</strong>
  When you install the <%= vars.product_abbr %> tile using <%= vars.ops_manager %>,
  <%= vars.product_abbr %> does not monitor the files on your BOSH Director.
  To apply <%= vars.product_abbr %> to the BOSH Director VM,
  see <a href="./installing-bosh.html">Installing File Integrity Monitoring on BOSH Director</a>.
</p>


##<a id="prereqs"></a>Prerequisites

* You must be a <%= vars.platform_name %> operator with admin rights.
See [Operators](https://docs.pivotal.io/pivotalcf/customizing/user-types.html#operator)
in the <%= vars.platform_name %> documentation.

* **<%= vars.ops_manager_full %> (<%= vars.ops_manager %>)**.
For compatible versions, see the [Product Snapshot](./index.html#snapshot).

## <a id='install-addon'></a> Install <%= vars.product_abbr %>

To install the <%= vars.product_abbr %> file on the <%= vars.ops_manager %> Installation Dashboard:

<p class="note"><strong>Note:</strong> If you are upgrading from v1.4 or earlier,
  you must follow the instructions in <a href="./upgrading.html">Upgrading <%= vars.product_abbr %></a>.
</p>

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/p-fim-addon).

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard and click **Import a Product** to upload the product file.

1. Under **Import a Product**, click **+** next to the version number of <%= vars.product_abbr %>.
This adds the tile to your staging area.

1. Click the newly added **<%= vars.product_abbr %>** tile.

## <a id='configure-ubuntu'></a> Configure <%= vars.product_abbr %> for Linux

To configure <%= vars.product_abbr %> for Linux VMs:

1. Select **FIM Configuration for Ubuntu**.

    ![FIM Configuration for Ubuntu section of the FIM configuration in Ops Manager.](linux-config.png)
    [Click here to view a larger version of this image.](./images/linux-config.png)

1. Configure the following fields:

    <table class="nice">
      <th width="20%">Field</th>
      <th width="80%">Description</th>
      <tr>
        <td><strong>Watchlist</strong></td>
        <td>
          Create a list of file paths to monitor for file system events.
          Click <strong>Add</strong> to add file paths to the list,
          and click the trash can icon to remove file paths from the list.
          <br><br>
          For more information, see <a href="#dirs">Watchlist</a> below.
          <p class="note"><strong>Note: </strong>
            This field corresponds to <code>fim.dirs</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Ignore patterns</strong></td>
        <td>
          Create a list of files that you want <%= vars.product_abbr %> to ignore.
          Events for files matching any of the provided regular expressions are
          not included in the logs.
          Click <strong>Add</strong> to add files to the list,
          and click the trash can icon to remove files from the list.
          <br><br>
          The items that you add must use Go-flavored path regular expressions.
          To test whether a regular expression is valid, you can use <a href="https://regex101.com?flavor=golang">Regex101</a>.
          <br><br>
          For more information, see <a href="#output-ignore">Ignore Patterns</a> below.
          <p class="note"><strong>Note: </strong>
            This field corresponds to <code>fim.ignored_patterns</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Low severity tagging for frequently changed files</strong></td>
        <td>
          Create a list of files to be marked as low severity.
          Click <strong>Add</strong> to add files to the list,
          and click the trash can icon to remove files from the list.
          <br><br>
          The items that you add must use Go-flavored path regular expressions.
          To test whether a regular expression is valid, you can use <a href="https://regex101.com?flavor=golang">Regex101</a>.
          <br><br>
          For more information, see <a href="#output-low">Low Severity Events</a> below.
          <p class="note"><strong>Note: </strong>
            This field corresponds to <code>fim.low_severity_patterns</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Output log format</strong></td>
        <td>
          Enter a template for log lines.
          This template must be compatible with the golang package <code>text/template</code>.
          <br><br>
          For more information about the <strong>Output log format</strong> field,
          see <a href="#format">Output Log Format</a> below.
          <p class="note"><strong>Note: </strong>
            This field corresponds to <code>fim.format</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Heartbeat interval (in seconds)</strong></td>
        <td>
          Set the heartbeat interval as follows:
          <ul>
            <li>
              To enable the heartbeat interval, set the value to an integer greater than <code>0</code> .
              If you set a negative value, an error occurs.
            </li>
            <li>To disable the heartbeat interval, set the value to <code>0</code>.</li>
          </ul>
          The default value is <code>600</code>.
          <p class="note"><strong>Note: </strong>
            This field corresponds to <code>fim.heartbeat_interval</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Max memory usage (in bytes)</strong></td>
        <td>
          Set a limit in bytes for the maximum amount of memory, including file cache,
          that <%= vars.product_abbr %> can use per VM.
          The default value is <code>536870912</code> (512&nbsp;MB).
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.memory_limit</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>CPU limit (percentage)</strong></td>
        <td>
          Set the percentage of CPU that the <%= vars.product_abbr %> process can use.
          Integers from <code>1</code> to <code>100</code> are valid.
          The limit is set per core.
          Setting this field to <code>100</code> permits the use of one full core.
          The default value is <code>10</code>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.cpu_limit</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Enforce CPU limit</strong></td>
        <td>Select the enforcement policy for the <strong>CPU limit (percentage)</strong>:
          <ul>
            <li><strong>Always</strong>: Ensures the <strong>CPU limit (percentage)</strong> is always enforced</li>
            <li><strong>When other processes are using CPU resources</strong>: Permits the CPU usage to
              exceed the limit set by <strong>CPU limit (percentage)</strong> if idle CPU cycles are available</li>
          </ul>

          The default setting is <strong>When other processes are using CPU resources</strong>.

          <p class="note warning"><strong>Warning: </strong>
            If <strong>Enforce CPU limit</strong> is set <strong>Always</strong>,
            verify that the <strong>CPU limit (percentage)</strong> is set high enough for <%= vars.product_abbr %> to
            execute correctly.
            If the limit is too strict, <%= vars.product_abbr %> fails to start.
          </p>
          <div class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.enforce_cpu_limit</code> in <%= vars.product_abbr %> v1.4 and earlier.
            <ul>
              <li><strong>Always</strong> is equivalent to <code>fim.enforce_cpu_limit == true</code></li>
              <li><strong>When other processes are using CPU resources</strong> is equivalent to <code>fim.enforce_cpu_limit == false</code></li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td><strong>Log file digest for write/create events</strong></td>
        <td>
          To enable computing digests for write/create events, select
          <strong>Enable</strong>.
          When you select this option, a field for
          <strong>A threshold of file size beyond which digests are not calculated (in bytes)</strong>
          appears.
          <br><br>
          For more information, see <a href="#digests">File Digests</a> below.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.digests</code> in
            <%= vars.product_abbr %> v1.4 and earlier.
            Setting <strong>Log file digest for write/create events</strong> to <strong>Enable</strong>
            is equivalent to <code>fim.digests == [sha256]</code>.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>A threshold of file size beyond which digests are not calculated (in bytes)</strong></td>
        <td>
          Enter a positive value for the threshold for the maximum size of files
          for <%= vars.product_abbr %> to hash.
          This field only appears if you have selected <strong>Enable</strong> for <strong>Log file digest for write/create events</strong>.
          The default value is <code>10000000</code>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.digest_threshold</code> in
            <%= vars.product_abbr %> v1.4 and earlier.<br>
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>In&#8209;memory cache to reduce noise when files do not change</strong></td>
        <td>
          To enable an in&#8209;memory cache for security metadata, select <strong>Enable</strong>.
          When you select this option, a field for <strong>Maximum cache size (number of files)</strong> appears.
          <br><br>
          For more information about the in&#8209;memory cache, see <a href="#in-memory-cache">In&#8209;Memory Cache</a> below.

          <p class="note"><strong>Note</strong>:
            <strong>In&#8209;memory cache to reduce noise when files do not change</strong> is currently only supported
            on Linux.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Maximum cache size (in number of files)</strong></td>
        <td>
          Enter a positive integer for the maximum number of files to store in the in&#8209;memory cache.
          <br><br>
          This field only appears if you have selected <strong>Enable</strong> for
          <strong>In&#8209;memory cache to reduce noise when files do not change</strong>.
          The default value is <code>200000</code>, which can result in an increase in memory usage of
          up to roughly 100&nbsp;MB.
          <br><br>
          For more information, see <a href="#in-memory-cache_size">In&#8209;Memory Cache Size</a> below.

          <p class="note"><strong>Note</strong>:
            Enabling the in&#8209;memory cache causes <%= vars.product_abbr %> to use additional memory.
            Ensure that <strong>Maximum cache size (number of files)</strong> is configured with
            an appropriate value using the instructions in
            <a href="#in-memory-cache_size">In&#8209;Memory Cache Size</a> below.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>List of instance group names that will be excluded from deployment</strong></td>
        <td>
          Enter a comma-separated list of instance groups that you do not want
          <%= vars.product_abbr %> deployed on.
        </td>
      </tr>
    </table>

1. Click **Save**.


## <a id='configure-windows'></a> Configure <%= vars.product_abbr %> for Windows (Beta)

<p class="note warning"><strong>Warning: </strong>
  <%= vars.product_abbr %> for Windows is currently in beta.
  To disable installing <%= vars.product_abbr %> on Windows VMs, follow the steps in
  <a href="#disable-windows">Disable Windows</a> below.
</p>

To configure <%= vars.product_abbr %> for Windows VMs:

1. Select **FIM Configuration for Windows (Beta)**.
![FIM Configuration for Windows section of the FIM configuration in Ops Manager.](windows-config.png)
[Click here to view a larger version of this image.](./images/windows-config.png)

1. Configure the following fields:

    <table class="nice">
      <th width="20%">Field</th>
      <th width="80%">Description</th>
      <tr>
        <td><strong>Watchlist</strong></td>
        <td>
          Create a list of file paths to monitor for file system events.
          Click <strong>Add</strong> to add file paths to the list,
          and click the trash can icon to remove file paths from the list.
          <br><br>
          For more information, see <a href="#dirs">Watchlist</a> below.
          <p class="note"><strong>Note:</strong>
            This field corresponds to <code>fim.dirs</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Container Watchlist</strong></td>
        <td>
          Create a list of file paths to monitor for file system events per container on
          the Windows Diego Cell.
          Click <strong>Add</strong> to add file paths to the list,
          and click the trash can icon to remove file paths from the list.
          For example, to monitor file system events for app files,
          enter <code>C:\Users\vcap\app</code>.
          <br><br>
          If you do not enter a file path,
          <%= vars.product_abbr %> does not monitor any file system events for containers.

          <p class="note"><strong>Note:</strong>
            The file path for generated logs from container events is relative to
            the file system for the Diego Cell, rather than the container. <br><br>
            For example, a container event for the container file path
            <code>C:\Users\vcap\app\test.html</code> appears as a file system event in
            <code>C:\proc\PID\root\Users\vcap\app\test.html</code>,
            where PID is the process ID of the container.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Ignore patterns</strong></td>
        <td>
          Create a list of files that you want <%= vars.product_abbr %> to ignore.
          Click <strong>Add</strong> to add files to the list,
          and click the trash can icon to remove files from the list.
          <br><br>
          The items that you add must use Go-flavored path regular expressions.
          When defining <strong>Ignore patterns</strong> for Windows, you must replace all
          single back slashes with double back slashes.
          To test whether a regular expression is valid, you can use <a href="https://regex101.com?flavor=golang">Regex101</a>.
          Events for files matching any of the provided regular expressions are
          not included in the logs.
          <br><br>
          For more information, see <a href="#output-ignore">Ignore Patterns</a> below.
          <p class="note"><strong>Note: </strong>
            To ignore events for files in containers, you must enter regular expressions that are
            relative to the file system for the Diego Cell, rather than the container.
            To do this, enter regular expressions that start with <code>^C:\\proc\\[^\\]+\\root</code>.<br><br>

            For example, to ignore all files in containers in the directory <code>C:\Users\vcap\app</code>,
            enter <code>^C:\\proc\\[^\\]+\\root\\Users\\vcap\\app\\.*$</code>.
          </p>
          <p class="note"><strong>Note: </strong>
            This field corresponds to <code>fim.ignored_patterns</code> in
            <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Low severity tagging for frequently changed files</strong></td>
        <td>
          Create a list of files to be marked as low severity.
          Click <strong>Add</strong> to add files to the list,
          and click the trash can icon to remove files from the list.
          <br><br>
          The items that you add must use Go-flavored path regular expressions.
          When defining <strong>Low severity tagging for frequently changed files</strong> for Windows, you must
          replace all single back slashes with double back slashes.
          To test whether a regular expression is valid, you can use <a href="https://regex101.com?flavor=golang">Regex101</a>.
          <br><br>
          For more information, see <a href="#output-low">Low Severity Events</a> below.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.low_severity_patterns</code> in
            <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Output log format</strong></td>
        <td>
          Enter a template for log lines.
          This template must be compatible with the golang package <code>text/template</code>.<br><br>
          For more information, see <a href="#format">Output Log Format</a> below.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.format</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Heartbeat interval (in seconds)</strong></td>
        <td>
          Set the heartbeat interval as follows:
          <ul>
            <li>
              To enable the heartbeat interval, set the value to an integer greater than <code>0</code> .
              If you set a negative value, an error occurs.
            </li>
            <li>To disable the heartbeat interval, set the value to <code>0</code>.</li>
          </ul>
          The default value is <code>600</code>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.heartbeat_interval</code> in <%= vars.product_abbr %> v1.4 and earlier.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Log file digest for write/create events</strong></td>
        <td>
          Choose whether to enable computing digests for write/create events using
          the <strong>Enable</strong> or <strong>Disable</strong> radio buttons.
          If you enable digests, a field for
          <strong>A threshold of file size beyond which digests are not calculated (in bytes)</strong>
          appears after you select the option.<br><br>
          For more information, see <a href="#digests">File Digests</a> below.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.digests</code> in
            <%= vars.product_abbr %> v1.4 and earlier.
            Setting <strong>Log file digest for write/create events</strong> to <strong>Enable</strong>
            is equivalent to <code>fim.digests == [sha256]</code>.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>A threshold of file size beyond which digests are not calculated (in bytes)</strong></td>
        <td>
          Enter a positive value for the threshold for the maximum size of files
          for <%= vars.product_abbr %> to hash.
          This field only appears if you have selected <strong>Enable</strong> for <strong>Log file digest for write/create events</strong>.
          The default value is <code>10000000</code>.
          <p class="note"><strong>Note</strong>:
            This field corresponds to <code>fim.digest_threshold</code> in
            <%= vars.product_abbr %> v1.4 and earlier.<br>
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>List of instance group names that will be excluded from deployment</strong></td>
        <td>
          Enter a comma-separated list of instance groups that you do not want
          <%= vars.product_abbr %> deployed on.
        </td>
      </tr>
    </table>

1. Click **Save**.


###<a id="disable-windows"></a> Disable Windows

To disable installing <%= vars.product_abbr %> on Windows VMs:

1. In the <%= vars.product_abbr %> tile, select **<%= vars.product_abbr %> Configuration for Windows (Beta)**.

1. Add the instance group **windows\_diego\_cell** to the field
**List of instance group names that will be excluded from deployment**.

1. Click **Save**.

##<a id="monitor-containers"></a>Monitor Containers with <%= vars.product_abbr %>

You can use <%= vars.product_abbr %> to monitor:

* Garden containers on the Diego Cell VMs in <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>)
* Containers on the Diego Windows Cell VMs in <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>)
* Containers on the Kubernetes worker node VMs in <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>)

For an example log message, see [Examples of Log Messages from Containers](./log-examples.html#container-examples).


###<a id="garden"></a> Monitor Garden Containers

To configure <%= vars.product_abbr %> to monitor Garden containers:

1. In the <%= vars.product_abbr %> tile, select **<%= vars.product_abbr %> Configuration for Ubuntu**.

1. Add the Garden container directories to the **Watchlist** section:
    - `/var/vcap/data/grootfs/store/unprivileged/images/`
    - `/var/vcap/data/grootfs/store/privileged/images/`

    For more information about GrootFS volumes,
    see [Volumes](https://docs.pivotal.io/pivotalcf/concepts/grootfs-disk.html#volumes).

2. Add the following pattern to the **Ignore patterns** section:
    - `^/var/vcap/data/grootfs/store/(un)?privileged/images/[\w-]+/rootfs/.*$`

    <p class="note"><strong>Note:</strong>
      When files in the Garden containers are modified, changes are made to both
      the <code>diff</code> and <code>rootfs</code> directories.
      Adding this ignore pattern means that <%= vars.product_abbr %> ignores
      files and directories in the <code>/var/vcap/data/grootfs/store/unprivileged/images/UUID/diff</code>
      directory, where <code>UUID</code> is the ID of the container.
    </p>

1. Click **Save**.

###<a id="garden-windows"></a> Monitor Windows Garden Containers

To configure <%= vars.product_abbr %> to monitor Windows Garden containers:

1. In the <%= vars.product_abbr %> tile, select **<%= vars.product_abbr %>
Configuration for Windows (beta)**.

1. Add at least one directory to the **Container Watchlist** section.
Pivotal recommends that you add `C:\Users\vcap\app`, which is the directory for app files.

1. Click **Save**.

###<a id="pks"></a> Monitor Containers in <%= vars.k8s_runtime %>

To configure <%= vars.product_abbr %> to monitor containers on the Kubernetes worker node VMs in <%= vars.k8s_runtime %>:

1. In the <%= vars.product_abbr %> tile, select **<%= vars.product_abbr %> Configuration for Ubuntu**.

1. Add the PKS container directory `/var/vcap/store/docker/docker/` to the **Watchlist** section.
  <p class="note"><strong>Note:</strong>
    <%= vars.product_abbr %> writes log messages when files and directories in the
    <code>/var/vcap/store/docker/docker/overlay2/UUID/diff</code> directory are created, removed, or modified.
    <code>UUID</code> is the ID of the container.
  </p>


1. Click **Save**.


##<a id="alerts"></a> Configure Forwarding for <%= vars.product_abbr %> Alerts

<%= vars.product_abbr %> writes all alerts to the BOSH logs for the VMs in your deployment.
These logs are located at `/var/vcap/sys/log/fim/fim.stdout.log` and
`C:\var\vcap\sys\log\fim-windows\filesnitch\job-service-wrapper.out.log`.

You can use syslog forwarding to forward the alerts to a syslog aggregator.

* **Using the <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) tile**:
Follow the steps to configure system logging in <%= vars.app_runtime_abbr %> in [Configuring Logging in <%= vars.app_runtime_abbr %>](https://docs.pivotal.io/pivotalcf/2-4/opsguide/logging-config-opsman.html).
The syslog aggregator that you specify receives all alerts generated on <%= vars.app_runtime_abbr %> VMs, including the <%= vars.product_abbr %> alerts.

* **Using the syslog BOSH release**: You can use the syslog BOSH release to forward system logs.
See [syslog-release](https://github.com/cloudfoundry/syslog-release) in GitHub for instructions.

<p class="note"><strong>Note:</strong>
  When you configure syslog forwarding, ensure there is enough disk space for the logs.
  Ensure that the log rotation is frequent enough.
  If in doubt, rotate the logs hourly or when they reach a certain size.
  Pivotal recommends forwarding logs to a remote syslog aggregation system.
</p>

##<a id="deploy"></a> Apply Changes from Your Configuration

Your installation is not complete until you apply your configuration changes:

1. Navigate to the **Installation Dashboard** in <%= vars.ops_manager %>.

1. Click **Review Pending Changes**.

<%# do you need to ensure that all products are selected before applying changes? %>
1. Click **Apply Changes** to complete the <%= vars.product_abbr %> installation.


## <a id="verify"></a>Verify the Installation

To verify the installation for Linux:

1. `bosh ssh` into the VMs in your deployment. For more information, see
[BOSH SSH](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#bosh-ssh).

1. Enter this command:

    ```
    touch /bin/hackertool
    ```

1. Enter this command:

    ```
    grep hackertool /var/vcap/sys/log/fim/fim.stdout.log
    ```

1. Verify in the logs that a new file has been created. For example:
<pre class="terminal">
CEF:0|cloud\_foundry|fim|1.0.0|1|file integrity monitoring event|5| fname="/bin/hackertool" hostname="fim_1/3ad6ff1f-37e0-4b8a-80bd-d16b7f79c149" opname="CREATE" optype=1 ts=1574098829 severity=5
</pre>

<br>
To verify the installation for Windows:

1. `bosh ssh` into the VMs in your deployment. For more information, see
[BOSH SSH](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#bosh-ssh).

1. Enter this command:

    ```
    powershell New-Item -type File /var/vcap/data/jobs/sample_file
    ```

1. Enter this command:

    ```
    powershell "Get-Content C:\var\vcap\sys\log\fim-windows\filesnitch\job-service-wrapper.out.log | Select-String sample_file"
    ```

1. Verify in the logs that a new file has been created. For example:
<pre class="terminal">
CEF:0|cloud\_foundry|fim|1.0.0|1|file integrity monitoring event|5| fname="C:\\var\\vcap\\data\\jobs\\sample\_file" hostname="no-job_1/ebee34c1-3300-4f5d-9557-bbef845d608c" opname="CREATE" optype=1 ts=1569953512 severity=5
</pre>

## <a id="concepts"></a> Concepts Related to Configuring <%= vars.product_abbr %>

Reference the following sections when configuring <%= vars.product_abbr %>.

###<a id="dirs"></a> Watchlist

<%= vars.product_abbr %> monitors a set of critical system directories.
You can configure the directories that <%= vars.product_abbr %> monitors by adding
and removing items in the **Watchlist** section.

####<a name="linux-dirs"></a> Watchlist for Linux

Below is the default list of file paths in **Watchlist** section of **FIM Configuration for Ubuntu**.

<table>
  <tr>
    <th width="40%">Component</th>
    <th width="60%">File Paths</th>
  </tr>
  <tr>
    <td>System binaries and configuration</td>
    <td>
      <code>/boot/grub</code><br>
      <code>/root</code><br>
      <code>/bin</code><br>
      <code>/etc</code><br>
      <code>/lib</code><br>
      <code>/lib64</code><br>
      <code>/opt</code><br>
      <code>/sbin</code><br>
      <code>/srv</code><br>
      <code>/usr</code><br>
      <code>/var/lib</code>
    </td>
  </tr>
  <tr>
    <td>BOSH agent</td>
    <td>
      <code>/var/vcap/bosh</code><br>
      <code>/var/vcap/monit/job</code>
    </td>
  </tr>
  <tr>
    <td>BOSH releases</td>
    <td>
      <code>/var/vcap/data/packages</code><br>
      <code>/var/vcap/data/jobs</code>
    </td>
  </tr>
</table>

####<a name="windows-dirs"></a> Watchlist for Windows

Below is the default list of file paths in **Watchlist** section of **FIM Configuration for Windows**.

- `C:\Windows\System32`
- `C:\Program Files`
- `C:\Program Files (x86)`
- `C:\var\vcap\bosh`
- `C:\var\vcap\data\packages`
- `C:\var\vcap\data\jobs`

###<a id="output-ignore"></a>Ignore Patterns

Some monitored directories might contain files that you do not want
<%= vars.product_abbr %> to monitor, such as files that change frequently.
You can configure <%= vars.product_abbr %> to ignore these events by adding and
removing items in the **Ignore patterns** section.
Use path regular expressions.

####<a name="linux-ignore"></a> Ignore Patterns for Linux

Below is the default list in **Ignore Patterns** section of **FIM Configuration for Ubuntu**.

<table>
  <col width="40%">
  <col width="60%">
  <tr>
    <th>Scenario</th>
    <th>List</th>
  </tr>
  <tr>
    <td>Temporary files created when an operator or errand runs <code>bosh ssh</code></td>
    <td>
      <code>^/etc/passwd.+$</code><br>
      <code>^/etc/shadow.+$</code><br>
      <code>^/etc/subgid.+$</code><br>
      <code>^/etc/subuid.+$</code><br>
      <code>^/etc/group.+$</code><br>
      <code>^/etc/gshadow.+$</code><br>
    </td>
  </tr>
  <tr>
    <td>Temporary files created when hosts are updated</td>
    <td><code>^/etc/hosts.+$</code></td>
  </tr>
  <tr>
    <td>BOSH agent logs</td>
    <td><code>^/var/vcap/bosh/log/.+$</code></td>
  </tr>
  <tr>
    <td>Log rotation</td>
    <td><code>^/var/lib/logrotate/status.*$</code></td>
  </tr>
  <tr>
    <td>Monit state</td>
    <td><code>^/root/\.monit\.state$</code></td>
  </tr>
</table>

####<a name="windows-ignore"></a> Ignore Patterns for Windows

<p class="note"><strong>Note</strong>:
There is currently no default value for <strong>Ignored patterns</strong> for Windows.
</p>

When defining **Ignore patterns** for Windows, you must replace all single
back slashes with double back slashes.
For example, to ignore all files in the directory `C:\var\vcap\bosh\ignore_me\`, use:

```
^C:\\var\\vcap\\bosh\\ignore_me\\.*$
```


###<a id="output-low"></a>Low Severity Events

Some monitored directories might contain files that only change occasionally
or files that update frequently but are low impact.
You can configure <%= vars.product_abbr %> to log events at a lower severity
by adding and removing items in the **Low severity tagging for frequently changed
files** section. Use path regular expressions.

Severity can be one of the following severity levels:

  * `0`: Used for heartbeats.
  * `3`: Used for low severity events. These events are for files that match any of the provided regular expressions. This can be useful to filter out business-as-usual events.
  * `5`: Used for all other events. This is the default severity.



####<a name="linux-output-low"></a> Low Severity Tagging for Frequently Changed Files for Linux

Below is the default list in **Low severity tagging for frequently changed files**
section of **FIM Configuration for Ubuntu**.

<table>
  <col width="40%">
  <col width="60%">
  <tr>
    <th>Scenario</th>
    <th>List</th>
  </tr>
  <tr>
    <td>When an operator or errand runs the <code>bosh ssh</code> a new user is created</td>
    <td>
      <code>^/etc/passwd$</code><br>
      <code>^/etc/shadow$</code><br>
      <code>^/etc/subgid$</code><br>
      <code>^/etc/subuid$</code><br>
      <code>^/etc/group$</code><br>
      <code>^/etc/gshadow$</code>
    </td>
  </tr>
  <tr>
    <td>BOSH-DNS sync and new VM creation update hosts</td>
    <td><code>^/etc/hosts$</code></td>
  </tr>
  <tr>
    <td>Attached devices and cgroups</td>
    <td><code>^/etc/mtab$</code></td>
  </tr>
  <tr>
    <td>DHCP leases</td>
    <td><code>^/var/lib/dhcp/dhclient.eth\d+.leases$</code></td>
  </tr>
  <tr>
    <td>BOSH agent configuration changes when VM created/modified</td>
    <td><code>^/var/vcap/bosh/settings.json$</code></td>
  </tr>
  <tr>
    <td>BOSH agent CHMODs jobs and packages as part of <code>bosh deployment</code></td>
    <td>
      <code>^/var/vcap/data/jobs$</code><br>
      <code>^/var/vcap/data/packages$</code>
    </td>
  </tr>
</table>

####<a name="windows-output-low"></a> Low Severity Tagging for Frequently Changed Files for Windows

<p class="note"><strong>Note: </strong>
There is currently no default value for <strong>Low severity tagging for frequently changed files</strong> for Windows.
</p>

When defining **Low severity tagging for frequently changed files** for Windows, you must replace all single
back slashes with double back slashes.
For example, to mark all files in the directory `C:\var\vcap\bosh\ignore_me\` as low severity, use:

```
^C:\\var\\vcap\\bosh\\ignore_me\\.*$
```

###<a id="format"></a>Output Log Format

By default, <%= vars.product_abbr %> generates messages in the Common Event Format.
You can configure the output format as a Go text template using the **Output log format** field.
For more information and examples of <%= vars.product_abbr %> log messages,
see [Log Messages](./log-examples.html).


####<a id="default-format"></a>Default Format

The default value of **Output log format** is:

```
"CEF:0|cloud_foundry|fim|1.0.0|{{.Optype}}|file integrity monitoring event|{{.Severity}}| {{.KeyValues}}"
```

Example output using the default **Output log format** configuration:

<pre class="terminal">
CEF:0|cloud_foundry|fim|1.0.0|0|file integrity monitoring event|0| fname="" hostname="diego_cell/8279dfa8-9f86-4bb1-8b92-65457d2ae989" opname="FILESNITCH_CHECKIN" optype=0 ts=1492715822 severity=0
CEF:0|cloud_foundry|fim|1.0.0|1|file integrity monitoring event|5| fname="/etc/passwd.lock" hostname="diego_cell/8279dfa8-9f86-4bb1-8b92-65457d2ae989" opname="CREATE" optype=1 mode="-rw-r--r--" uid=0 user="root" gid=0 group="root" ts=1492715822 severity=5
CEF:0|cloud_foundry|fim|1.0.0|4|file integrity monitoring event|5| fname="/etc/passwd.17721" hostname="diego_cell/8279dfa8-9f86-4bb1-8b92-65457d2ae989" opname="REMOVE" optype=4 ts=1492715822 severity=5
CEF:0|cloud_foundry|fim|1.0.0|1|file integrity monitoring event|5| fname="/etc/group.lock" hostname="diego_cell/8279dfa8-9f86-4bb1-8b92-65457d2ae989" opname="CREATE" optype=1 mode="-rw-r--r--" uid=0 user="root" gid=0 group="root" ts=1492715822 severity=5
CEF:0|cloud_foundry|fim|1.0.0|4|file integrity monitoring event|5| fname="/etc/group.17721" hostname="diego_cell/8279dfa8-9f86-4bb1-8b92-65457d2ae989" opname="REMOVE" optype=4 ts=1492715822 severity=5
CEF:0|cloud_foundry|fim|1.0.0|1|file integrity monitoring event|5| fname="/etc/gshadow.lock" hostname="diego_cell/8279dfa8-9f86-4bb1-8b92-65457d2ae989" opname="CREATE" optype=1 mode="-rw-r--r--" uid=0 user="root" gid=0 group="root" ts=1492715822 severity=5
</pre>

<p class="note"><strong>Note</strong>:
  The <code>FILESNITCH CHECKIN</code> message is a logging marker that indicates
  <code>filesnitch</code> is operational in the absence of any file system events.
</p>


####<a id="custom-format"></a>Custom Format

You can use individual fields to configure the log format.
Each individual field, is a named property provided by FIM that will be replaced during the logging action.

For example:

```
"{{.Fname}} {{.Hostname}} {{.OpName}} {{.OpType}} {{.Metadata}} {{.Digests}} {{.Ts}}"
```

Example output using the above configuration:

<pre class="terminal">
/bin/binary plymouth CREATE 1 mode="-rw-r--r--" uid=0 user="root" gid=0 group="root" sha256=da39a3ee5e6b4b0d3255bfef95601890afd80709 1475195574
</pre>

The table below lists the template values you can use:

<table class="nice">
  <style>
    main table {
      table-layout: fixed;
    }
  </style>
  <tr>
    <th width="25%">Template</th>
    <th width="75%">Description</th>
  </tr>
  <tr>
    <td><code>{{.Fname}}</code></td>
    <td>Name of the affected file.</td>
  </tr>
  <tr>
    <td><code>{{.Hostname}}</code></td>
    <td>Hostname of the VM on which the file event originated.</td>
  </tr>
  <tr>
    <td><code>{{.OpName}}</code></td>
    <td>Type of file operation in textual format. For more information, see .</td>
  </tr>
  <tr>
    <td><code>{{.OpType}}</code></td>
    <td>Type of file operation in numeric format.</td>
  </tr>
  <tr>
    <td><code>{{.Severity}}</code></td>
    <td>Level of importance attributed to the event.</td>
  </tr>
  <tr>
    <td><code>{{.Ts}}</code></td>
    <td>Point in time at which <%= vars.product_abbr %> received the file event.</td>
  </tr>
  <tr>
    <td><code>{{.Metadata}}</code></td>
    <td>
      Key-value pairs of file mode and ownership metadata for <code>CREATE</code> and <code>CHMOD</code> events. <br>
      The information includes the file mode, owner, and group. <br>
      Metadata is only supported on Linux.
    </td>
  </tr>
  <tr>
    <td><code>{{.Digests}}</code></td>
    <td>Key-value pairs of hash algorithms and the hash of the modified file.</td>
  </tr>
  <tr>
    <td><code>{{.Json}}</code></td>
    <td>
      This string serializes an event into a standard JSON dictionary.<br>
      Example output:
      <pre class="terminal">{"fname":"/bin/binary","hostname":"plymouth","opname":"CREATE","optype":1,"metadata":{"mode": "-rw-r--r--","uid":"0","user":"root","gid":"0","group":"root"},"ts":1475195084}</pre>
    </td>
  </tr>
  <tr>
    <td><code>{{.KeyValues}}</code></td>
    <td>
      This string serializes an event into a series of key-value pairs.
      Example output:
      <pre class="terminal">fname="/bin/binary" hostname="plymouth" opname="CREATE" optype=1 mode="-rw-r--r--" uid=0 user="root" gid=0 group="root" ts=1475195258</pre>
    </td>
  </tr>
</table>

Opname and optype are the type of file operation in textual and numeric format, respectively.
For the possible values of the two fields see the table below:

<table class="nice">
   <th width="15%">opname</th>
   <th width="15%">optype</th>
   <th width="30%">Example Linux Trigger</th>
   <th width="40%">Example Windows Trigger</th>
   <tr>
       <td><code>CREATE</code></td>
       <td align="center">1</td>
       <td>
         <code>touch newfile.txt</code>
         <br>
         <br>
         <code>echo 'content' > newfile2.txt</code>
       </td>
       <td>
         <code>Powershell New-Item -type File newfile.txt</code>
         <br>
         <br>
         <code>Powershell Add-Content -Path newfile.txt -Value 'content'</code>
       </td>
   </tr>
   <tr>
       <td><code>WRITE</code></td>
       <td align="center">2</td>
       <td>
         <code>echo 'hello world' >> file.txt</code>
       </td>
       <td>
         <code>Powershell Add-Content -Path newfile.txt -Value 'content'</code>
       </td>
   </tr>
   <tr>
       <td><code>REMOVE</code></td>
       <td align="center">4</td>
       <td>
         <code>rm file.txt</code>
       </td>
       <td>
         <code>Powershell rm file.txt</code>
       </td>
   </tr>
   <tr>
       <td><code>RENAME</code></td>
       <td align="center">8</td>
       <td>
         <code>mv file.txt file.txt.orig</code>
       </td>
       <td>
         <code>Powershell mv file.txt file.txt.orig</code>
       </td>
   </tr>
   <tr>
       <td><code>CHMOD</code></td>
       <td align="center">16</td>
       <td>
         <code>chmod 0400 file.txt</code>
       </td>
       <td>
         <code>Powershell icacls file.txt /grant administrators:F</code>
       </td>
   </tr>
</table>

<p class="note"><strong>Note: </strong>
  <%= vars.product_abbr %> on Windows reports <code>WRITE</code> and <code>CHMOD</code>
  together as <code>WRITE|CHMOD</code>. The two operations are indistinguishable.
</p>



###<a id="digests"></a>File Digests

<%= vars.product_abbr %> supports hashing monitored files on <code>WRITE</code> or <code>CREATE</code> events
using the `sha256` algorithm.
If you enable digests, <%= vars.product_abbr %> includes the calculated hash for the file in the logs.

If you want to show that content has changed or check which version of the file is mapped to a log entry,
you can calculate the `sha256` value of a file and compare it to the value in the log.

Hashing is disabled by default.

<%= vars.product_abbr %> sets a threshold on the size of files, in bytes, to be hashed.
The default value is `10000000` bytes.

###<a id="metadata"></a> Metadata

<p class="note"><strong>Note:</strong> Metadata is currently only supported on Linux.
</p>

<%= vars.product_abbr %> adds security metadata to `CREATE` and `CHMOD` file events.
The table below describes the key-value pairs that the metadata uses:


<table>
  <tr>
    <th width="75">Key</th>
    <th>Description</th>
  </tr>

  <tr>
    <td><code>mode</code></td>
    <td>This key encodes Unix file system permissions and permissions behavior. <br><br>
      The output for <code>setuid</code>, <code>getgid</code>, and sticky bit flags differ
      from the standard representation in the output of the <code>ls</code> command.
      <br>A file with all three flags set has an output similar to <code>ugtr-xr--r-- </code>.
        <ul>
          <li><code>u</code> indicates that <code>setuid</code> is set.</li>
          <li> <code>g</code> indicates that <code>setgid</code> is set.</li>
          <li><code>t</code> indicates that sticky bit is set.</li>
        </ul>
        The normal output of the <code>ls</code> command for the same file is <code>-r-sr-Sr-T</code>.

    </td>
  </tr>

  <tr>
    <td><code>uid</code></td>
    <td>The user ID of the owner of the file.</td>
  </tr>

  <tr>
    <td><code>user</code></td>
    <td>The username that corresponds to the <code>uid</code>.
      If the <code>uid</code> lookup fails, this is set to <code>"unknown"</code>.</td>
  </tr>

  <tr>
    <td><code>gid</code></td>
    <td>The group ID of the file.</td>
  </tr>

  <tr>
    <td><code>group</code></td>
    <td>The group name that corresponds to the <code>gid</code>.
      If the <code>gid</code> lookup fails, this is set to  <code>"unknown"</code>.</td>
  </tr>
</table>




###<a id="in-memory-cache"></a> In&#8209;Memory Cache

<p class="note"><strong>Note:</strong>
  In&#8209;Memory Cache is currently only supported on Linux.
</p>

When you enable the in&#8209;memory cache, the frequency of logged file events is reduced
because trivial changes to files are not logged. This feature also enables
you to compare the current security metadata of a file with the last known version in a `CHMOD` event.

<p class="note"><strong>Note:</strong>
  If you enable the in&#8209;memory cache, <%= vars.product_abbr %> uses additional memory.
  You can change the additional memory cost by configuring the cache size.
  See <a href="#in-memory-cache_size">In&#8209;Memory Cache Size</a> below.
</p>

The table below describes the file events that are logged and ignored
for `CHMOD` and `WRITE` events when the in&#8209;memory cache is enabled:

<table>

  <tr>
    <th width="75">File Event</th>
    <th>Logged Events</th>
    <th>Ignored Events</th>
  </tr>

  <tr>
    <td><code>CHMOD</code></td>
    <td>
      <ul>
        <li>Changes to the file mode</li>
        <li>Changes to user file ownership and group file ownership</li>
        <li>An aggregation of file mode and file ownership changes.
          Only the current and last known version are logged.
          For example, if only the file mode changes, the metadata only includes
          <code>mode</code> and <code>oldMode</code>.</li>
      </ul>
    </td>

    <td>
      <ul>
        <li>File events that are not changes to the file mode or ownership.
          This includes changes to file attributes that do not indicate security threats,
          such as timestamp changes.</li>
      </ul>
    </td>
  </tr>

  <tr>
    <td><code>WRITE</code></td>
    <td>
        <ul>
          <li>If <strong>Log file digest for write/create events</strong> is set to <strong>Disable</strong>,
            all <code>WRITE</code> events are logged.</li>
        </ul>
    </td>

    <td>
        <ul>
          <li>If <strong>Log file digest for write/create events</strong> is set to <strong>Enable</strong>
            and the hashed SHA256 file content has not changed from the last known hash,
            <code>WRITE</code> events are not logged.
            This can happen if a file is overwritten with contents that are identical to
            the previous contents.</li>
        </ul>
    </td>
  </tr>
</table>

<p class="note"><strong>Note:</strong> If the cache is full,
  because <strong>Maximum cache size (in number of files)</strong> is too small,
  <%= vars.product_abbr %> logs file events as if the cache was disabled.
</p>

###<a id="in-memory-cache_size"></a> In&#8209;Memory Cache Size

The in&#8209;memory cache size is the maximum number of files that <%= vars.product_abbr %>
can store at once. If there are more files being watched than can fit into the cache,
the cache removes the least-recently accessed file. If the cache removes a file,
the next time the file is accessed,
<%= vars.product_abbr %> logs it as if the cache was disabled.

On startup, <%= vars.product_abbr %> creates a cache consisting of all
files that are descendants of the directories that are configured in <strong>Watchlist</strong>.
The cache does not store full files and only stores relevant metadata
about each file.

For example, if <strong>Watchlist</strong> is set to monitor the following directories:

```
/A
/B
```

And the file system has the following structure:

```
/
├── A
│   ├── 1
│   ├── 2
│   └── C
│       └── 3
└── B
    └── 4
```

Then the cache stores seven files: `A`, `B`, `C`, `1`, `2`, `3`, `4`.

To determine how large to set **Maximum cache size (in number of files)**:

1. Set **In&#8209;memory cache to reduce noise when files do not change**
to **Disable**.

1.  Navigate to **Installation Dashboard** > **Review Pending Changes** and click **Apply Changes**.

1. View the <%= vars.product_abbr %> `stderr` logs for some of your VMs. These can be found in
 `/var/vcap/sys/log/fim/fim.stderr.log`. The logs look similar to the following:

    ```
    ...
    2019/12/20 18:23:47 Num files added: 71011
    2019/12/20 18:23:47 Num files evicted: 0
    ```

1. Record the number after `Num files added` for some of your VMs.
This number indicates how many files would be added to the in&#8209;memory cache if it was enabled.

1. Set **In&#8209;memory cache to reduce noise when files do not change** to **Enable**.

1. Set **Maximum cache size (in number of files)** to 1.5 times
the largest number you recorded. This accommodates for any new files that are created.

1. Set **Max memory usage (in bytes)** to a value that is
large enough to account for the additional memory cost for the cache.
For example, 200,000 files cost approximately 100&nbsp;MB in memory.

1. Repeat steps 2 and 3.

1. Record the number after `Num files evicted`. This indicates how many files
could not fit into the cache. If this number is non-zero, consider increasing
**Maximum cache size (in number of files)** to make room for these files.
