---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

<p class="note"><strong>Note:</strong> Pivotal has renamed <i>File Integrity Monitoring Add-on for PCF</i> to <i>Pivotal File Integrity Monitoring</i>.
</p>

<%= partial '../../fim/partials/pcf-name-change' %>

This topic contains release notes for <%= vars.product_full %> (<%= vars.product_abbr %>).

## <a id="2-0-0"></a> v2.0.0

**Release Date**: XXXX XX, 2019

### Features

New features and changes in this release:

* <%= vars.product_abbr %> is now a tile.
For more information about upgrading, see [Upgrading <%= vars.product_short %>](./upgrading.html).

* <%= vars.product_abbr %> for Windows can monitor Garden containers on Windows Diego Cells.

### Known Issues

This release has the following known issue:

*

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
