---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

<p class="note">
  <strong>Note:</strong> Pivotal has renamed File Integrity Monitoring Add-on for PCF.
  The new name is <%= vars.product_full %>.
</p>

<%= partial '../../fim/partials/pcf-name-change' %>

This topic contains release notes for <%= vars.product_full %> (<%= vars.product_abbr %>).

## <a id="2-0-0"></a> v2.0.0

**Release Date**: January 7, 2019

### Features

New features and changes in this release:

* <%= vars.product_abbr %> is now a tile.
For information about upgrading from <%= vars.product_abbr %> v1.x, see
[Upgrading <%= vars.product_short %>](./upgrading.html).

* <%= vars.product_abbr %> for Windows can monitor Garden containers on Windows Diego Cells.
For more information, see [Monitor Windows Garden Containers](./installing.html#garden-windows).

<p class="note warning">
  <strong>Warning:</strong> <%= vars.product_abbr %> for Windows is currently in beta.
</p>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
