---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic contains release notes for <%= vars.product_full %> (<%= vars.product_abbr %>).

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="2-1-8"></a> v2.1.8
**Release Date: ####**

### Features
New features and changes in this release:

* Latest patches for all Go dependencies.
* Updates golang dependency to v1.16 for both Linux and Windows.

### Known Issues

This release has the following known issue:

* `user` and `group` security metadata might not be accurate for files in containers on
  <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) and <%= vars.k8s_runtime_full %>
  (<%= vars.k8s_runtime_abbr %>).
  However, you can determine the correct username and group name for a file from the `uid` and `gid` metadata keys.
  For more information, see [Metadata](./installing.html#metadata).

## <a id="2-1-5"></a> v2.1.5
**Release Date: January 25, 2021**

### Features
New features and changes in this release:

* General Availability of <%= vars.product_abbr %> for Windows.
* Updates golang dependency to v1.15 for both Linux and Windows.

### Known Issues

This release has the following known issue:

* `user` and `group` security metadata might not be accurate for files in containers on
<%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) and <%= vars.k8s_runtime_full %>
(<%= vars.k8s_runtime_abbr %>).
However, you can determine the correct username and group name for a file from the `uid` and `gid` metadata keys.
For more information, see [Metadata](./installing.html#metadata).

## <a id="2-1-3"></a> v2.1.3

**Release Date**: May 20, 2020

### Features

New features and changes in this release:

* **Adds the BOSH Context Adaptor for <%= vars.product_abbr %> (BCAF):**
If you enable this feature, BCAF detects bosh triggered events and lowers the severity in the log to `3`.
For more information, see [BOSH Context Adaptor for <%= vars.product_short %> (BCAF)](./index.html#bcaf).

* **Adds support for an in&#8209;memory cache on Linux to store security metadata for files:**
If you enable this feature, <%= vars.product_abbr %> uses more memory, but reduces the number of trivial file events that are logged.
For more information, see [In-Memory Cache](./installing.html#in-memory-cache).

* Adds security metadata for `CREATE` and `CHMOD` events on Linux.
For more information, see [Metadata](./installing.html#metadata).

### Known Issues

This release has the following known issue:

* `user` and `group` security metadata might not be accurate for files in containers on
<%= vars.app_runtime_first %> and <%= vars.k8s_runtime_full %>
(<%= vars.k8s_runtime_abbr %>).
However, you can determine the correct username and group name for a file from the `uid` and `gid` metadata keys.
For more information, see [Metadata](./installing.html#metadata).

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from dropdown at the top of this page.
