---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

<p class="note"><strong>Note:</strong> Pivotal has renamed <i>File Integrity Monitoring Add-on for PCF</i> to <i>Pivotal File Integrity Monitoring</i>.
</p>

<%= partial '../../fim/partials/pcf-name-change' %>

This topic contains release notes for <%= vars.product_full %> (<%= vars.product_abbr %>).

## <a id="2-1-0"></a> v2.1.0

**Release Date**: XXXX XX, 2019

### Features

New features and changes in this release:


* <%= vars.product_abbr %> now adds security metadata for `CREATE` and `CHMOD` events on Linux.
For more information, see [Metadata](./installing.html#metadata).

* <%= vars.product_abbr %> can be configured to keep track of file metadata using an in-memory cache on Linux.
Enabling this feature will use more memory, but can limit the number of redundant file events being logged.
For more information, see [In-Memory Cache](./installing.html#in-memory-cache).

### Known Issues

This release has the following known issue:

* The **`user`** and **`group`** metadata fields may not be accurate for files in containers on PAS/PKS.
However, the proper username and group name can be determined using the **`uid`** and **`gid`** metadata fields.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
