---
title: File Integrity Monitoring for VMware Tanzu Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>
(<%= vars.product_abbr %>).

## <a id='releases'></a> Releases

### <a id='2-2-0'></a> v2.2.0

**Release Date**: MMM DD, YYYY

#### Maintenance Changes

Maintenance changes in this release:

* **Run-in heading**: Description

#### Features

New features and changes in this release:

* **Run-in heading**: Description

#### Known Issues

This release has the following known issue:

* `user` and `group` security metadata might not be accurate for files in containers on
  <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>).
  However, you can determine the correct user name and group name for a file from the `uid` and `gid`
  metadata keys.
  For more information, see [Metadata](installing.html#metadata).
