---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

<p class="note"><strong>Note:</strong> Pivotal has renamed <i>File Integrity Monitoring Add-on for PCF</i> to <i>Pivotal File Integrity Monitoring</i>.
</p>

<%= partial '../../fim/partials/pcf-name-change' %>

This topic contains release notes for <%= vars.product_full %> (<%= vars.product_abbr %>).

## <a id="2-1-0"></a> v2.1.0

**Release Date**: XXXX XX, 2019

### Features

New features and changes in this release:

* Adds security metadata for `CREATE` and `CHMOD` events on Linux.
For more information, see [Metadata](./installing.html#metadata).

* Adds support for in&#8209;memory cache on Linux to keep track of file metadata.
If you enable this feature, <%= vars.product_abbr %> uses more memory,
but reduces the number of trival file events that are logged.
For more information, see [In-Memory Cache](./installing.html#in-memory-cache).

### Known Issues

This release has the following known issue:

* `user` and `group` security metadata
might not be accurate for files in containers on <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>)
and <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>).
However, you can determine the correct username and group name for a file from the
the `uid` and `gid` metadata keys.

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
