---
title: Troubleshooting File Integrity Monitoring
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic provides instructions to verify that <%= vars.product_full %> (<%= vars.product_abbr %>) works with your <%= vars.platform_name %>
deployment and makes general recommendations for troubleshooting.


## <a id='about-troubleshoot-fim'></a>About Troubleshooting <%= vars.product_abbr %>

This topic provides help for troubleshooting the runtime behavior, to ensure that the deployment is being protected in the way
you expect.

## <a id="bosh-deploy-issues"></a>BOSH Deploy Issues

### Symptom

<%= vars.product_abbr %> generates too much syslog activity during BOSH deploys.

### Explanation

<%= vars.product_abbr %> monitors and reports file changes. BOSH deployments often make changes to the monitored directories and files,
which generates corresponding <%= vars.product_abbr %> syslog activity during the deployment.

<%= vars.product_abbr %> watches for unexpected file changes in all the directories that you configure it to monitor.
The default manifest configuration monitors files in many critical directories including `/var/vcap/data/jobs`
 and `/var/vcap/data/packages`.
These directories are critical to the normal operation of <%= vars.platform_name %> and are monitored because they are not expected to change during operation of the platform (between BOSH deploys).

Syslog messages generated during a BOSH deploy report file changes in the `jobs` and `packages` directories in `/var/vcap/...`.  BOSH
deploys update the files in these directories. Thus, <%= vars.product_abbr %> reports file-system events that are expected.
You can consider these syslog messages either as confirmation of a succeeding BOSH deployment or as false positive events.

### Solution

Events occurring during a planned BOSH deployments are normal and can be safely ignored.

To avoid the additional syslog traffic during a BOSH deploy, customize the <%= vars.product_abbr %> release deployment manifest to narrow the scope of <%= vars.product_abbr %>
so that it does not include directories affected by deployments.
You can do this either before you deploy BOSH (as a temporary measure) or as part of the normal <%= vars.product_abbr %> configuration.
Consider your threat environment and risk tolerance and configure <%= vars.product_abbr %> accordingly.

## <a id="fim-runtime-issues"></a><%= vars.product_abbr %> Runtime Issues

### Symptom

Filesystem events are not reported. The logs are empty.

### Explanation:

<%= vars.product_abbr %> might not be running or might be misconfigured.

### Solution

* Check whether `fim` is running. `monit summary` should return the following output on success.

    <pre class='terminal'>The Monit daemon 5.2.5 uptime: 1d 20h 11m<br>
    Process 'fim'                       running</pre>

* If the process is not running, inspect the contents of `/var/vcap/sys/log/fim/fim.std*.log` files for clues.

<hr>

### Symptom

Files system events are not reported from a portion of the file system.

### Explanation:

<%= vars.product_abbr %> is configured to monitor a set of critical directories in the system.
It is not configured to monitor the entire file system by default.

### Solution

See [Watchlist](./installing.html#dirs) to see the default list of file paths
that <%= vars.product_abbr %> monitors for file system events.
To modify the configuration, see [Configure <%= vars.product_abbr %> for Linux](installing.html#configure-ubuntu)
or [Configure <%= vars.product_abbr %> for Windows](installing.html#configure-windows) depending on your installation.
<hr>
