---
title: Upgrading File Integrity Monitoring
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade <%= vars.product_full %> (<%= vars.product_abbr %>).

##<a id="assume"></a>Prerequisites

To ensure you have the required component versions, see the [Product Snapshot](./index.html#snapshot).

##<a id="upgrade"></a> Replace <%= vars.product_abbr %> add-on v1.x with v2.x

To uninstall <%= vars.product_abbr %> v1.x and install v2.x in its place:

1. SSH into the <%= vars.ops_manager %> VM.
   For how to do this, see [SSH into <%= vars.ops_manager %>](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#ssh).

1. Delete the existing runtime configs by running:

    ```
    bosh -e BOSH-ENVIRONMENT delete-config --type=runtime --name=fim
    bosh -e BOSH-ENVIRONMENT delete-config --type=runtime --name=fim-windows
    ```

1. Install the 2.x tile. For installation instructions, see [Installing <%= vars.product_short %>](./installing.html).
