---
title: Upgrading File Integrity Monitoring
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade <%= vars.product_full %> (<%= vars.product_abbr %>).

##<a id="assume"></a>Prerequisites

Verify that you have the correct component versions for the version of <%= vars.product_abbr %> that
you are upgrading to. See the [Features Snapshot](./index.html#snapshot)
or the download page on [Pivotal Network](https://network.pivotal.io/products/p-fim-addon/).

##<a id="upgrade"></a>Upgrade <%= vars.product_abbr %></a>

To upgrade <%= vars.product_abbr %> to a later version:

1. Download the <%= vars.product_abbr %> software binary
   from the [Pivotal Network](https://network.pivotal.io/products/p-fim-addon) to your local machine.

1. SSH into the Ops Manager VM.
   For how to do this, see [SSH into Ops Manager](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#ssh).

1. To retrieve the current runtime config file for editing,
   run the following command:

    ```
    bosh -e BOSH-ENVIRONMENT runtime-config --name fim > /tmp/fim.yml
    ```

    For example:

    <pre class="terminal">$ bosh -e my-env runtime-config --name fim > /tmp/fim.yml</pre>


1. To copy the software binary to your Ops Manager VM, run the following command:

    ```
    scp -i PATH-TO-PRIVATE-KEY fim-VERSION.tgz ubuntu@YOUR-OPS-MANAGER-VM-IP:
    ```

    For example:

    <pre class="terminal">$ cp -i ~/.ssh/my-key.pem ~/Downloads/fim-1.2.23.tgz ubuntu<span>@</span>192.168.0.2: </pre>


1. Upload the latest <%= vars.product_abbr %> release, run the following command:

    ```
    bosh -e BOSH-ENVIRONMENT upload-release PATH-TO-NEW-FIM-RELEASE
    ```

    For example:

    <pre class="terminal">bosh -e my-env upload-release ~/fim-1.2.23.tgz</pre>

1. Edit the <%= vars.product_abbr %> runtime config to set the new release version.<br/><br/>

    For example, edit the version number in `/tmp/fim.yml` as follows:

    ```
    releases:
    - name: fim
      version: 1.2.23
    ```

1. Verify that your <%= vars.product_abbr %> runtime config includes an `addon` element. <br/><br/>

    1. For Linux, your runtime config must contain this section:

        ```
        - name: fim-trusty
          include:
            stemcell:
            - os: ubuntu-trusty

        - name: fim-xenial
          include:
            stemcell:
            - os: ubuntu-xenial
        ```

        For more information about adding this section,
        see [Updating <%= vars.product_abbr %> to Run with Xenial Stemcells](./updating-for-xenial.html).
        <br><br>

    1. For Windows, your runtime config must contain this section:

        ```
        - name: fim-windows
          include:
            stemcell:
            - os: windows2019
            - os: windows1803
            - os: windows2016
            - os: windows2012R2
        ```

1. To update the runtime config, run the following command:

    ```
    bosh -e BOSH-ENVIRONMENT update-runtime-config --name=fim /tmp/fim.yml
    ```

    For example:

    <pre class="terminal">bosh -e my-env update-runtime-config --name fim /tmp/fim.yml </pre>

1. (Optional) Verify that your runtime configuration changes match what you specified in the manifest file.

    ```
    bosh -e BOSH-ENVIRONMENT runtime-config --name fim
    ```

    For example:

    <pre class="terminal">$ bosh -e my-env runtime-config --name fim</pre>

    This command returns your updated <%= vars.product_abbr %> runtime config.

    For example:

    <pre class="terminal">
    Acting as user 'admin' on 'micro'
    releases:
    <span>-</span> name: fim
      version: 1.2.23
    addons:
      name: fim
        jobs:
        <span>-</span> name: fim
          release: fim
    ...
    </pre>

1. Navigate to the **Installation Dashboard** in Ops Manager.

1. Click **Review Pending Changes**.

1. Click **Apply Changes**.
